* {
  box-sizing: border-box;
  font-family: "Lato";
  touch-action: manipulation;
}

html {
  --primary-color: #4CAF50;
  --secondary-color: #4c87af;
  --main-bg-color: #181e30;
  --secondary-bg-color: #2c2c2c;
  --main-text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --main-border-color: #ccc;
  --secondary-border-color: #ccc;
  --main-button-color: #4CAF50;
  --secondary-button-color: #4c87af;
  --tertiary-button-color: #be3b3b;
  --main-button-text-color: #ffffff;
  --secondary-button-text-color: #ffffff;
  height: 100%;
  color: var(--main-text-color);
  overscroll-behavior-y: none;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background: var(--main-bg-color);
  overscroll-behavior-y: none;
}

h1 {
  text-align: center;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

#search-input {
  padding: 10px;
  border-color: var(--main-border-color);
  border-radius: 10px;
  flex-grow: 1;
  margin-right: 10px;
}

#search-button {
  display: flex;
  flex-flow: row nowrap ;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--main-button-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  top: 100%;
  width: max-content;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  z-index: 1;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-items div:hover,
.autocomplete-items div.autocomplete-active {
  background-color: var(--secondary-color);
}

.search-container {
  margin-bottom: 20px;
}

#card-container {
  margin-top: 20px;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--secondary-border-color);
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 73px;
  /* transition: border-color 0.2s, background-color 0.2s linear; */
}

.card:hover {
  cursor: pointer;
  /* border-color: #5c587a; */
  /* background-color: #5c587a; */
}

.card img {
  max-width: 100px;
  height: auto;
}

.card-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card-name {
  font-weight: bold;
  margin: 0;
}

.card-oracle-text {
  margin: 0;
  text-overflow: ellipsis;
}

.resolve-card-button {
  display: flex;
  align-self: stretch;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--secondary-button-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ms {
  font-size: 0.8em !important;
  transform: translate(0, -1px) !important;
}

.ghost-class {
  background-color: var(--secondary-bg-color);
}

#empty-stack-button {
  display: flex;
  flex-flow: row nowrap ;
  align-items: center;
  width: 100%;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--tertiary-button-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}